html,body {  font-size:14px; height:100%;  }
.hover{ opacity: .8; }

.flex-wrap{ display: -webkit-box;	display: -webkit-flex;	display: flex; }
.flex-con{     -webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}

.border-t,
.border-b{ position:relative;  }
.border-t:before,
.border-b:after{     content: '';     position: absolute;     left: 0;  top:0;     background: #ddd;   right:0;    height: 1px;     -webkit-transform: scaleY(0.5);             transform: scaleY(0.5);     -webkit-transform-origin: 0 0;             transform-origin: 0 0; }
.border-b:after{ top:auto; bottom:0;  }

#wrap{                                                // body的子元素，继承了父亲body的height:100%属性 
        height: 100%;                             // 因高度100%,这个wrap元素将充满页面
        display: -webkit-box;                 // 盒子显示模式
        -webkit-box-orient: vertical;     // 盒子排列为垂直方向
         text-align:center;                      //内部居中显示
}
#header{                                            // 顶部框架
        text-align: center;                      // 中间显示
        background-color: #81a9c3;    // 背景颜色：蓝色
        color: #fff;                                  // 文字颜色
        width: 100%;                              // 宽度占满屏幕
        height:2.8125em;                       // 设置高度。注意：脉脉的代码，是在#header中又嵌入了个div，设置div的高度，其实一个意思
#main{
        -webkit-box-flex: 1;                   // 高度占页面比例为100%，前提是去掉#header和#footer的高度后，因此无需设置高度。
        width:100%;                               // 宽度占满屏幕
}
#footer{
        height: 50px;                              // 高度
        line-height: 20px;                      // 行高，#footer会有两行，第一行是图标，第二行是文字，这里设置这两行的间距
        width: 100%;                              // 宽度占满屏幕
        text-align: center;                      // 居中显示
}


	